@use "../styles/variables" as *;

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 375px;
  height: 667px;

  &-bg {
    position: absolute;
    //opacity: .25;
    z-index: -1;
    width: 622px;

    &-top {
      @extend .profile-card-bg;
      transform: rotate(135deg);
      top: -9rem;
      left: -12rem;
    }

    &-bottom {
      @extend .profile-card-bg;
      transform: rotate(45deg);
      bottom: -9rem;
      right: -12rem;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    background-color: white;
    width: 326px;
    height: 374px;
    border-radius: 1rem;
    background-image: url("@/assets/images/bg-pattern-card.svg");
    background-repeat: no-repeat;

    img {
      border-radius: 4rem;
      border: white .4rem solid;
      margin-top: 5.4rem;
      width: 96px;
    }

    h1 {
      font-size: 18px;

      .name {
        letter-spacing: 0;
        font-weight: 700;
      }

      .age {
        margin-left: .5rem;
        font-weight: 400;
        letter-spacing: 0;
        color: $dark-grayish-blue;
      }
    }

    h2 {
      margin-top: -1rem;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0;
      color: $dark-grayish-blue;
    }

    .social {
      width: 100%;
      height: 4.7rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      border-top: #97979738 .05rem solid;
      align-items: center;
      padding: 1.5rem 1.5rem;

      .stat {
        text-align: center;
        align-self: center;

        :first-child {
          text-transform: uppercase;
          font-size: 18px;
          font-weight: 700;
          color: $very-dark-saturated-blue;
        }

        :last-child {
          font-size: 10px;
          letter-spacing: 1.5px;
          font-weight: 400;
          color: $dark-grayish-blue;
        }
      }
    }
  }
}
