@use '../styles/variables' as *;

$bg-image-size-mobile: 38.88rem;
$bg-image-size-desktop: 61.13rem;

.profile-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('@/assets/images/bg-pattern-top.svg'),
      url('@/assets/images/bg-pattern-bottom.svg');
    background-position: top -20rem left -25rem, bottom -20rem right -25rem;
    background-repeat: no-repeat, no-repeat;
    background-size: $bg-image-size-mobile, $bg-image-size-mobile;
  }

  @media (min-width: 1440px) {
    &::before {
      background-position: top -30rem left -15rem, bottom -38.5rem right -8rem;
      background-size: $bg-image-size-desktop, $bg-image-size-desktop;
    }
  }

  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 20.38rem;
    height: 23.38rem;
    border-radius: 1rem;
    background-image: url('@/assets/images/bg-pattern-card.svg');
    background-repeat: no-repeat;

    img {
      border-radius: 4rem;
      border: white 0.4rem solid;
      margin-top: 5.4rem;
      width: 6.7rem;
    }

    h1 {
      margin-top: 1rem;
      font-size: 1.125rem;

      .name {
        letter-spacing: 0;
        font-weight: 700;
      }

      .age {
        margin-left: 0.5rem;
        font-weight: 400;
        letter-spacing: 0;
        color: $dark-grayish-blue;
      }
    }

    h2 {
      margin-top: 0.4rem;
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0;
      color: $dark-grayish-blue;
    }

    .social {
      margin-top: 1.3rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-evenly;
      grid-column-gap: 1rem;
      border-top: hsl(0deg 0% 88%) 0.05rem solid;
      align-items: center;
      padding: 1.4rem 2.2rem;

      .stat {
        text-align: center;
        align-self: center;

        :first-child {
          text-transform: uppercase;
          font-size: 1.125rem;
          font-weight: 700;
          color: $very-dark-saturated-blue;
        }

        :last-child {
          font-size: 0.625rem;
          letter-spacing: 0.094rem;
          font-weight: 400;
          color: $dark-grayish-blue;
        }
      }
    }
  }
}
